@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: block;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.header-form-button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  margin-left: -2px;
  padding: 10px 56px;
  letter-spacing: normal;
}

.button-exit {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  opacity: 0.3;
  text-transform: none;
  letter-spacing: 0;
}

.header-catalog-list-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.3;
}

.button-close-basket {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 10px;
  height: 10px;
  background-image: url("../images/icon/white-cross.svg");
  background-repeat: no-repeat;
}

.regular-button {
  padding: 10px 5px;
  align-self: self-start;
  background: linear-gradient(to bottom, transparent 16px, #ffe17f 15px, #ffe17f 23px, transparent 23px);
}

.slider-paginator-button {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.slider-paginator-button-active {
  background-color: #000000;
}

.slider-controls-button {
  position: relative;
  width: 20px;
  height: 60px;
}

.slider-controls-button::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 2px;
  height: 25px;
  background-color: #000000;
  transform: rotate(28deg);
}

.slider-controls-button::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 2px;
  height: 25px;
  background-color: #000000;
  transform: rotate(333deg);
}

.slider-controls-next {
  transform: rotate(180deg);
}

.info-link-active {}

.delivery-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 910px;
  padding: 40px 0;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.delivery-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("../images/icon/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 125px;
  height: 100px;
  background-color: #f0f0f0;
  background-image: url("../images/icon/delivery-info.png");
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe {
  padding: 18px 39px;
  border: 3px solid #c4c4c4;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  padding: 0;
  border-radius: 50%;
  top: 1px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-min {}

.toggle-max {
  left: 120px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icon/checked.png");
  background-repeat: no-repeat;
  background-position: 3px;
}

.control-input[type="radio"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.product-card .button {
  display: none;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
}

.sort-button {
  position: relative;
  width: 30px;
  height: 30px;
}

.sort-button::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  opacity: 0.2;
}

.sort-button-up::after {
  border-bottom: 10px solid #000000;
  top: 25%;
  left: 25%;
}

.sort-button-down::after {
  border-top: 10px solid #000000;
  top: 25%;
  left: 25%;
}

.show-more-button {
  width: 760px;
  padding: 18px;
  border: 3px solid #e5e5e5;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.page-header {
  display: flex;
  flex-direction: column;
  padding: 15px 60px 22px;
  background: linear-gradient(to bottom, #ffffff 35px, #ffe17f 35px);
}

.page-header-catalog {
  margin-bottom: 35px;
}

.page-header-logo {
  margin-bottom: 30px;
}

.header-logo-wrapper {}

.header-top {
  display: flex;
  margin-bottom: 30px;
}

.header-form {
  display: flex;
  margin-right: 26px;
}

.header-form-search {
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  padding-right: 56px;
  padding-left: 32px;
  background-color: transparent;
}

.header-form-search::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
}

.navigation-list {
  display: flex;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list-user {
  display: flex;
  margin-right: auto;
}

.navigation-list .navigtion-item:not(:last-child) {
  margin-right: 36px;
}

.navigation-list-user .navigtion-item:not(:last-child) {
  margin-right: 26px;
}

.navigtion-item {
  position: relative;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.navigation-link-login {
  padding-left: 26px;
  background-image: url("../images/icon/login.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.navigtion-link-compare {
  padding-left: 22px;
  background-image: url("../images/icon/compare.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.navigation-link-basket {
  padding-left: 25px;
  background-image: url("../images/icon/basked.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.basket-counter {
  position: absolute;
  left: -25px;
  padding: 0 10px;
  background-color: white;
  border-radius: 50%;
}

.popover {
  display: block;
  position: absolute;
  top: 40px;
  right: -72px;
  background-color: #000000;
  width: 320px;
  padding-bottom: 20px;

}

.popover::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-bottom: 10px solid #000000;
  top: -18px;
  left: 50%;
}

.popover-basket {
  display: block;
  z-index: 2;
}

.popover-basket-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.basket-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket-item {
  display: flex;
  position: relative;
  padding: 20px;
  align-items: center;
}

.basket-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.1;
}

.basket-img-wrapper {
  margin-right: 23px;
}

.basket-description {
  margin: 0;
  width: 155px;
}

.basket-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: #1a1a1a;
  margin-bottom: 20px;
}

.open-basket {
  padding: 15px 25px;
  background-color: #ffffff;
  margin: 0 auto;
}

.header-catalog-info {
  display: flex;
}

.header-catalog-list,
.header-info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.header-catalog-list {
  margin-right: auto;
  z-index: 2;
}

.subcatalog {
  display: none;
}

.subcatalog-info-link {
  padding-bottom: 30px;
}

.subcatalog {
  display: none;
  position: absolute;
  background-color: #ffe17f;
  left: -60px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-bottom: 26px;
  padding-left: 60px;
  width: 1160px;
}

.subcatalog-item:first-child {
  margin-right: 30px;
}

.subcatalog-item {
  display: flex;
  flex-direction: column;
  min-width: 211px;
}

.subcatalog-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: none;
  color: #000000;
  letter-spacing: 0;
}

.subcatalog-link:not(:last-child) {
  margin-bottom: 20px;
}

.header-catalog-item {
  position: relative;
}

.header-catalog-item:not(:last-child) {
  margin-right: 7px;
}

.header-catalog-title {
  margin: 0;
}

.header-info-item:not(:last-child) {
  margin-right: 45px;
}

.header-info-link {
  text-decoration: none;
  color: inherit;
  padding: 15px 0;
}

.main-index {}

.main-gallery {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, #ffe17f 114px, #ffffff 114px);
}

.gallery {}

.slider {
  margin-right: 40px;
}

.slider-item-focused {
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item-wrapper {}

.slider-controls {
  position: absolute;
  display: flex;
  top: 35%;
  width: 100%;
  justify-content: space-between;
}

.gallery-content {
  z-index: 1;
}

.gallery-counter {
  position: absolute;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  right: 52px;
  top: 40px;
}

.gallery-discription {
  display: none;
}

.gallery-discription-active {
  display: flex;
  flex-direction: column;
}

.gallery-discription-active .regular-button {
  margin-bottom: 50px;
  min-width: 220px;
}

.gallery-discription-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 545px;
  margin-bottom: 30px;
}

.gallery-discription-content {
  margin: 0;
  margin-bottom: 50px;
}

.gallery-feature {
  display: flex;
  flex-wrap: wrap;
}

.gallery-feature-item:not(:last-child) {
  margin-right: 40px;
}

.gallery-feature-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.gallery-feature-value {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
  color: #000000;
}

.gallery-feature-description {
  margin: 0;
}

.slider-paginator {
  position: absolute;
  right: 0;
  top: 57%;
  z-index: 1;
}

.slider-paginator-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 76px;
  justify-content: space-between;
}

.slider-paginator-item {}

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 20px 40px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-item {}

.categories-link {
  text-decoration: none;
}

.ctegories-image-wrapper {}

.ctegories-image {
  background-color: #ffe17f;
}

.categories-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}

.info {
  background: linear-gradient(to bottom, #ffffff 102px, #f0f0f0 102px);
  margin-bottom: 70px;
}

.info .container {
  display: flex;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 64px 0;
  width: 286px;
  border-right: 7px solid #000000;
}

.info-item {
  position: relative;
}

.info-item:not(:last-child) {
  margin-bottom: 35px;
}

.info-item a {
  min-width: 152px;
}

.info-link-active {
  color: #ffffff;
  background: none;
  width: 280px;

}

.info-item .info-link-active {
  background-color: #000000;
  text-align: left;
  color: #ffc700;
}

.info-title {
  margin: 0;
  color: inherit;
}

.info-discription {
  display: none;
}

.info-discription-delivery,
.info-discription-guarantee,
.info-discription-credit {
  position: relative;
}

.info-discription-delivery::before,
.info-discription-guarantee::before,
.info-discription-credit::before {
  content: "";
  position: absolute;
  top: 77px;
  right: -110px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.info-discription-delivery::before {
  width: 136px;
  height: 134px;
  background-image: url("../images/info/delivery.png");
}

.info-discription-guarantee::before {
  width: 171px;
  height: 195px;
  background-image: url("../images/info/guarantee.png");
}

.info-discription-credit::before {
  width: 102px;
  height: 132px;
  background-image: url("../images/info/credit.png");
}

.info-discription-active {
  display: block;
  padding: 72px 110px;
  padding-left: 116px;
}

.info-discription-title {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 34px;
}

.info-discription-text {
  max-width: 475px;
  margin: 0;
}

.delivery {
  position: relative;
  margin-bottom: 70px;
}

.about-us-contacts {
  display: flex;
  padding-top: 47px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us,
.contacts {
  display: flex;
  position: relative;
  flex-direction: column;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -46px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-us .button,
.contacts .button {
  align-self: flex-start;
}

.about-us {
  width: 520px;
}

.about-us-contacts-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
}

.delivery-methods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.delivery-methods-item {
  position: relative;
}

.delivery-methods-text {
  color: #000000;
  padding-left: 26px;
}

.delivery-methods-text::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.contacts {
  width: 532px;
}

.contacts-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.about-us-text-content,
.contacts-text-content {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-adress {
  margin: 0;
}

.contacts-phone {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
  color: #444444;
  margin-bottom: 30px;
}

.working-time {
  margin-bottom: 30px;
}

.work-time-text {
  margin: 0;
}

.newsletter {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 56px;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
}

.newsletter-discription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.newsletter-title {
  width: 348px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter-text {
  width: 560px;
  margin: 0;
}

.newsletter-form {
  display: flex;
}

.newsletter-form-text {
  margin: 0;
  margin-left: auto;
  align-self: center;
}

.field {}

.newsletter-field {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  width: 557px;
  padding: 11px 16px;
}

.newsletter-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-form-text {
  position: relative;
  padding-left: 32px;
}

.newsletter-form-text::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 25%;
  left: 0;
  background-image: url("../images/icon/mark.png");
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer {
  padding: 62px 0;
  padding-bottom: 77px;
  background-color: #444444;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-adress {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 77px;
  width: 234px;
}

.footer-adress::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-adress-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.logo-footer {
  margin-bottom: 35px;
}

.footer-logo-wrapper {}

.info-social {}

.info-footer {}

.information-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}

.information-item:not(:last-child) {
  margin-right: 35px;
}

.information-link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.information {}

.link {}

.social-footer {}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item:not(:last-child) {
  margin-right: 15px;
}

.social-link {
  color: #444444;
}

.footer-telephone {
  display: flex;
  flex-direction: column;
}

.footer-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 63px;
}

.copyright-link {}

.copyright-wrapper {}

.main-inner {}

.header-catalog {
  margin-bottom: 35px;
}

.header-inner-catalog-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  color: #000000;
}

.breadcrumps {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
}

.breadcrumps-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumps-link {
  text-decoration: none;
  color: #000000;
}

.catalog-inner {
  background-color: #f0f0f0;
}

.catalog-products {
  display: flex;
}

.catalog-filters {
  width: 320px;
  padding-top: 25px;
}

.catalog-filters .filters-title {
  margin-bottom: 60px;
}

.filters-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group {
  position: relative;
  margin-bottom: 35px;
}

.catalog-filter-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 200px;
  background-color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 12px;
}

.range-wrapper {}

.range {
  margin-bottom: 15px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #bcbcbc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-range {
  display: flex;
  max-width: 120px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: inherit;
  opacity: 0.3;
}

.range-input {
  border: none;
  font: inherit;
  width: 55px;
  padding: 0 2px;
  background-color: transparent;
  appearance: textfield;
  outline: none;
  margin-left: 5px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {}

.control {
  position: relative;
  padding-left: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.control-input {}

.control-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.ctalog-filter-item {}

.select {}

.select-control {
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: none;
  padding-right: 32px;
  background-image: url("../images/icon/select.png");
  background-repeat: no-repeat;
  background-position: 122px;
}

.sort-button-wrapper {
  display: flex;
}

.catalog {
  background-color: #ffffff;
  padding-bottom: 78px;
}

.sort-container {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  list-style: none;
  padding: 70px 40px;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 44px;
  color: #000000;
}

.product-card {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.product-card-wrapper {
  display: flex;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  margin-right: auto;
  margin-bottom: 32px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  width: 226px;
}

.price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-card-new .product-image-wrapper::after {
  display: block;
}

.product-image-wrapper {
  position: relative;
}

.product-image-wrapper::after {
  content: "";
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-image: url("../images/icon/new-item.png");
  background-repeat: no-repeat;
}

.new-item-store {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
}


.pagination {
  width: 760px;
  background-color: #ebebeb;
  margin: 0 auto;
  padding: 25px;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.paginator-number {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.paginator-item {}

.paginator-item-number .paginator-link {
  padding: 10px 16px;
}

.paginator-link {
  text-decoration: none;
  color: #444444;
}

.paginator-prev,
.paginator-next {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
